$orange: #FFA500;
@mixin font-main() {
    font-family: 'Roboto', sans-serif;
    color: $orange;
}

body{
    background-image: url(../images/back_pattern.png);
}

.wide-nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    .nav {
        border-bottom-style: solid;
        // margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        a {
            margin: 10px 5px;
            padding: 5px;
            @include font-main();
        }
    }
}

.header {
    background-color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;

    .name-title {
      padding-top: 25px;  
    }
    .logo-img {
        width: 25%;
        height: auto;
    }
}

.skills {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.skill {
    background-color: $orange;
    color: white;
    margin: 3px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}
.skill:hover {
    color: black;
}

.port-row {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-column-gap: 1em;
}

.port-screen {
    width: 100%;
    
    .screenshot {
        width: 100%;
        height: auto;
    }
}

.port-desc {
    @include font-main();
    text-align: center;
    background-color: white;
    padding-top: 80px;
    height: 100%;
    .port-title{
        text-decoration: underline;
    }
}

.all-about{
    margin-top: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-column-gap: 1em;

    .about-desc {
        background-color: white;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        h3 {
            text-align: center;
        }
        p{
            font-size: 15px;
            padding: 8px;
        }
    }

    .headshot {
        width: 100%;
        height: auto;
    }
}

.nav-slide {
    background-color: $orange;
    a{
        color: white;
    }
}

.slide-screenshot {
    width: 100%;
    height: auto;
}

.slide-description {
    background-color: white;
}

// medium screens
@media only screen and (max-width: 992px) {
    .skills {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    }
    .port-desc {
        margin-top: 15px;
        color: $orange;
        text-align: center;
        background-color: white;
        padding-top: 50px;
    }
}

// small screens
@media only screen and (max-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .port-desc {
        // margin-top: 15px;
        color: $orange;
        text-align: center;
        background-color: white;
        padding-top: 25px;
    }
}